body{
  margin:0;
  padding:0;
}
#sair{
  width:960px;
  text-align:right;  
}

#corpo{
  width:100%;
  float:left;
}

#conteudo{
  width:960px;
  max-width:960px;
  margin:0 auto;  
}

#aguardeCep{
  width:450px;
  position:absolute;
  top:-5000px;
  left:-5000px;  
  background: url('http://www.aquifinanciamentos.com.br/img/capa.png');
  border-radius:10px;
  padding:10px;
  color:white;
  font-weight:bold;
  text-shadow: 2px 2px rgba(0,0,0,0.5);
}

.gerencia{
  width:920px;
  border-radius:10px;
  background: #0072bc;
  float:left;
  padding:20px;
  margin:15px;
  margin-left:0;
}

.gerencia *{
  color: #FFF;
}

.gerencia input, .gerencia select, .gerencia textarea, .gerencia option{
  color: #000;

}

.alert-box {
  color:#555;
  border-radius:10px;
  font-family:Tahoma,Geneva,Arial,sans-serif;font-size:13px;
  padding:10px 10px 10px 36px;
  margin:10px;
  white-space: pre-wrap;
}

.alert-box b{
    font-weight:bold;
    color:#555;
}

.alert-box span {
  font-weight:bold;
  color:#555;
  text-transform:uppercase;
}
.error {
  background:#ffecec url('img/error.png') no-repeat 10px 28px/20px 20px;
  border:1px solid #f5aca6;
}
.success {
  background:#e9ffd9 url('img/success.png') no-repeat 10px 28px/20px 20px;
  border:1px solid #a6ca8a;
}
.warning {
  background:#fff8c4 url('img/warning.png') no-repeat 10px 28px/20px 20px;
  border:1px solid #f2c779;
}
.notice {
  background:#e3f7fc url('img/notice.png') no-repeat 10px 28px/20px 20px;
  border:1px solid #8ed9f6;
}

.adiciona{
  text-align:right;
}

.tabela th{
  background: #AAA;
}

.etapa{
  max-width:800px;
  width:800px;
  float:left;
}

.etapa li{
  max-width:800px;
  width:auto;
  height:auto;
  padding: 0 5px;
  margin: 2px 0;
  float:left;
  list-style:none;
}

.obrigatorio{
  color:#F00;
}

form{
  margin:0;
}


/*Duplicado*/
/* Inicio - Barra do topo da Página */
#barraTopo{
  background:#333;
  width:100%;
  height:50px;  
  float:left;
}

#navTopo{
  margin: 0 auto;
  width:960px;
}

#navTopo a{
  display:block;
  height:20px;
  padding: 15px 20px;
  color: white;
  text-decoration: none;
  transition: all 1s;
  text-shadow: 2px 2px rgba(0, 0, 0, .5);
  text-transform: uppercase;
}

#navTopo a:hover{
  padding: 15px 20px 30px 20px;
  background: rgba(255, 216, 0, .75);
}

input, select, textarea, option {
  color: black;
}
